.verticalLineShort{
    position: absolute;
    width: 0.1%;
    height: 65%;
    margin-top: 8%;
    background-color: #544B4B;
}

.horizontalLineA1{
    width: 20%;
    position: absolute;
    height: 0.1%;
    background-color: #544B4B;
    margin-left: 20%;
    margin-top: 8%;
}

.horizontalLineA2{
    width: 20%;
    position: absolute;
    height: 0.1%;
    background-color: #544B4B;
    margin-right: 20%;
    margin-top: 34.25%;
}

.horizontalLineA3{
    width: 20%;
    position: absolute;
    height: 0.1%;
    background-color: #544B4B;
    margin-right: 20%;
    margin-top: 41.2%;
}

.ButtonA1{
    position: absolute;
    border-style: solid;
    border-color: #544B4B;
    border-width: 1px;
    color: #544B4B;
    text-decoration: none;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 0.4%;
    font-size: 1.5rem;
    margin-left: 48.7%;
    margin-top: 6.5%
}

.ButtonA1:hover{
    background-color: #544b4b1b;
}

.ButtonA2{
    position: absolute;
    border-style: solid;
    border-color: #544B4B;
    border-width: 1px;
    color: #544B4B;
    text-decoration: none;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 0.4%;
    font-size: 1.5rem;
    margin-right: 49%;
    margin-top: 32.8%
}

.ButtonA2:hover{
    background-color: #544b4b1b;
}

.ButtonA3{
    position: absolute;
    border-style: solid;
    border-color: #544B4B;
    border-width: 1px;
    color: #544B4B;
    text-decoration: none;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 0.4%;
    font-size: 1.5rem;
    margin-right: 49.2%;
    margin-top: 39.8%
}

.ButtonA3:hover{
    background-color: #544b4b1b;
}