.verticalLine{
    position: absolute;
    width: 0.1%;
    height: 70%;
    margin-top: 7%;
    background-color: #544B4B;
}

.horizontalLine1{
    width: 20%;
    position: absolute;
    height: 0.1%;
    background-color: #544B4B;
    margin-left: 20%;
    margin-top: 7%;
}

.horizontalLine2{
    width: 20%;
    position: absolute;
    height: 0.1%;
    background-color: #544B4B;
    margin-right: 20%;
    margin-top: 29.8%;
}

.horizontalLine3{
    width: 20%;
    position: absolute;
    height: 0.1%;
    background-color: #544B4B;
    margin-left: 20%;
    margin-top: 38.35%;
}

.horizontalLine4{
    width: 20%;
    position: absolute;
    height: 0.1%;
    background-color: #544B4B;
    margin-right: 20%;
    margin-top: 42.7%;
}

.Button1{
    position: absolute;
    border-style: solid;
    border-color: #544B4B;
    border-width: 1px;
    color: #544B4B;
    text-decoration: none;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 0.4%;
    font-size: 1.5rem;
    margin-left: 48.6%;
    margin-top: 5.5%
}

.Button1:hover{
    background-color: #544b4b1b;
}

.Button2{
    position: absolute;
    border-style: solid;
    border-color: #544B4B;
    border-width: 1px;
    color: #544B4B;
    text-decoration: none;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 0.4%;
    font-size: 1.5rem;
    margin-right: 48.7%;
    margin-top: 28.4%
}

.Button2:hover{
    background-color: #544b4b1b;
}

.Button3{
    position: absolute;
    border-style: solid;
    border-color: #544B4B;
    border-width: 1px;
    color: #544B4B;
    text-decoration: none;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 0.4%;
    font-size: 1.5rem;
    margin-left: 48.9%;
    margin-top: 36.9%
}

.Button3:hover{
    background-color: #544b4b1b;
}

.Button4{
    position: absolute;
    border-style: solid;
    border-color: #544B4B;
    border-width: 1px;
    color: #544B4B;
    text-decoration: none;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 0.4%;
    font-size: 1.5rem;
    margin-right: 49.2%;
    margin-top: 41.4%
}

.Button4:hover{
    background-color: #544b4b1b;
}