.MapPage-div{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.MapPage-container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.MapPage-title{
    position: absolute;
    margin-bottom: 40%;
    margin-right: 70%;
}