.miniTimeline{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 65%;
    margin-right: 10%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title{
    color: #544B4B;
    margin-bottom: 10%;
}

.verticalLine{
    width: 0.4%;
    height: 70%;
    background-color: #544B4B;
}

.horizontalLineTop{
    width: 10%;
    position: absolute;
    height: 0.1%;
    margin-bottom: 15%;
    margin-right: 10%;
    background-color: #544B4B;
}

.horizontalLineBottom{
    width: 10%;
    position: absolute;
    height: 0.1%;
    margin-top: 26.7%;
    margin-right: 10%;
    background-color: #544B4B;
}

.horizontalLineMiddle{
    width: 10%;
    position: absolute;
    margin-top: 6%;
    height: 0.1%;
    margin-right: 10%;
    background-color: #544B4B;
}

.horizontalLineTopMiddle{
    width: 10%;
    position: absolute;
    margin-bottom: 5%;
    height: 0.1%;
    margin-right: 10%;
    background-color: #544B4B;
}

.horizontalLineBottomMiddle{
    width: 10%;
    position: absolute;
    margin-top: 16%;
    height: 0.1%;
    margin-right: 10%;
    background-color: #544B4B;
}

.ButtonTop{
    position: absolute;
    border-style: solid;
    border-color: #544B4B;
    border-width: 1px;
    margin-bottom: 15%;
    margin-right: 28%;
    color: #544B4B;
    text-decoration: none;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.3%;
    padding-bottom: 0.4%;
    font-size: 1.3rem;
}

.ButtonTop:hover{
    background-color: #544b4b1b;
}

.ButtonBottom{
    position: absolute;
    border-style: solid;
    border-color: #544B4B;
    border-width: 1px;
    margin-top: 26.7%;
    margin-right: 28%;
    color: #544B4B;
    text-decoration: none;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.3%;
    padding-bottom: 0.4%;
    font-size: 1.3rem;
}

.ButtonBottom:hover{
    background-color: #544b4b1b;
}

.ButtonMiddle{
    position: absolute;
    border-style: solid;
    border-color: #544B4B;
    border-width: 1px;
    margin-right: 28%;
    margin-top: 6%;
    color: #544B4B;
    text-decoration: none;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.3%;
    padding-bottom: 0.4%;
    font-size: 1.3rem;
}

.ButtonMiddle:hover{
    background-color: #544b4b1b;
}

.ButtonTopMiddle{
    position: absolute;
    border-style: solid;
    border-color: #544B4B;
    border-width: 1px;
    margin-right: 28%;
    margin-bottom: 5%;
    color: #544B4B;
    text-decoration: none;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.3%;
    padding-bottom: 0.4%;
    font-size: 1.3rem;
}

.ButtonTopMiddle:hover{
    background-color: #544b4b1b;
}

.ButtonBottomMiddle{
    position: absolute;
    border-style: solid;
    border-color: #544B4B;
    border-width: 1px;
    margin-right: 28%;
    margin-top: 16%;
    color: #544B4B;
    text-decoration: none;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.3%;
    padding-bottom: 0.4%;
    font-size: 1.3rem;
}

.ButtonBottomMiddle:hover{
    background-color: #544b4b1b;
}