.paintingNavbar {
    background: #EFEFEF;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }
  
  .paintingNav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 2%;
    list-style: none;
    text-align: center;
    width: 87vw;
    justify-content: start;
    margin-right: 2rem;
  }
  
  .paintingNav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
  }
  
  .paintingNav-links {
    display: flex;
    color: white;
    text-decoration: none;
    padding: 0.3rem 0.8rem;
    align-items: center;
    justify-content: center;
    background-color: #D8C2B8;
    border-radius: 4px;
  }
  
  .paintingNav-links:hover {
    background-color: #b4a199;
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }